/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styling */

html {
	font-size: 16px;
	font-family: "Open Sans";
	color: rgb(61, 61, 61);
}

h1 {
	font-size: 3rem;
	font-weight: 900;
	padding-bottom: 1.5rem;
}

h3 {
	font-size: 2rem;
	font-weight: 500;
	padding-bottom: 1.5rem;
}

p {
	font-size: 1.3rem;
}

/* Header */

header {
    position: fixed;
    z-index: 100;
	width: 100%;
	background-color: white;
}

header .content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	height: 2rem;
}

#header-logo {
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(43, 43, 43);
	font-size: 1.25rem;

}

header nav ul {
	display: flex;
	
}

nav li {
	padding: 0.5rem;
}
 
nav a {
	line-height: 1.6;
	font-size: 1rem;
	text-decoration: none;
	color: black;
}

header .icon {
	width: 1rem;
	padding-left: .75rem;
  }

/* Desktop */

header .mobile {
	display: none;
  }

/* Mobile - to be done */

#main-content {
	position: relative;
	top: 4rem;
}

/* Learn something new */

#learn-something-new {
	display: flex;
	width: 100%;
	padding: 2rem 1.5rem;
	background-color: lightgray;
	justify-content: space-between;
}

#photo-container1 {
	display: flex;
	width: 60%;
	height: auto;
	padding-right: 1.5rem;
}

#people-studying {
	max-width: 100%;
}

#text1 {
	display: flex;
	width: 40%;
	flex-direction: column;
	justify-content: center;
}

#text1 span {
	background-color: rgb(61, 61, 61);
	padding: 0.5rem 0;
	color: white;
	text-align: center;
}

/* Keep practicing */

#keep-practicing {
	display: flex;
}

#photo-container2 {
	display: flex;
	padding: 2rem 1.5rem;
	width: 60%;
	height: auto;
	flex-direction: column;
	padding-bottom: 2rem;
}

#keep-practicing-background {
	padding-bottom: 2rem;
}

#keep-practicing-headline {
	padding-bottom: 1.5rem;
}

#emanuel {
	padding-top: 2rem;
	font-weight: 700;
}

#orientation-date {
	display: flex;
	flex-direction: column;
	padding: 2rem 0;
	width: 40%;
}

.right-handside-photos {
	display: flex;
}

.right-handside-photos img {
	width: 35%;
	height: auto;
	padding: 1rem;
	border-left: solid 1px lightgray;
}

#last-information {
	background-color: lightgray
}

.text-practicing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 65%;
	border-bottom: solid 1px lightgray;
}

.text-practicing p {
	font-size: 1.1rem;
	padding-right: 1rem;
}

.read-more {
	padding-top: 1rem;
	color: rgb(0, 119, 255);
}

/* Start learning */

#start-learning {
	background-color: lightgray;
	display: flex;
	width: 100%;
	padding: 2rem 4rem;
	justify-content: center;
}

.grid {
	width: 1/3;
}